hr {
    margin: 0;
}

.rodape__titulo {
    padding: 1em 0 1.5em 1.5em;
}

.rodape__container {
    display: none;
}

@media screen and (min-width:1024px) {
    .rodape {
        display: flex;
        margin-top: 3.5em;
        margin-bottom: 4.3em;
    }

    .rodape__titulo {
        width: 25%;
        font-size: 24px;
        padding: 0 0 0 1.5em;
    }
    
    .rodape__container {
        display: block;
        width: 25%;
    }

    .rodape__container__subtitulo {
        font-size: 14px;
        color: var(--cinza);
        padding-bottom: 1.5em;
        text-transform: uppercase;
    }

    .rodape__container__item {
        display: flex;
        align-items: center;
        gap: 0.5em;
        padding-bottom: 1em;
    }

    .rodape__container__item__link {
        text-decoration: none;
        color: var(--preto-rodape);
        font-size: 14px;
    }
}

@media screen and (min-width:1728px) {
    .rodape {
        padding: 0 10vw;
    }

    .rodape__container {
        border-left: 1px solid var(--cinza);
        padding-left: 1.5em;
    }
}